.flexNavBar {
    background-color: rgb(53, 121, 204);
}

.flexDivBar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.wePlay {
    font-size: 2rem;
    cursor: pointer;
}

.linkXimaro {
    color: white;
    text-decoration: none;
    font-size: 3rem;
}

.linkXimaro:hover {
    color: #3498DB;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

li {
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 2rem;
    color: whitesmoke;
    font-size: 1rem;
}

.estiloNavLink {
    text-decoration: none;
    color: whitesmoke;
}

.estiloNavLink:hover {
    color: #3498DB;
}