.tituloProductos {
    background-color: #f4f3f2;
    color: #303b49;
    height: 4rem; 
}

.titulo{
    margin-left: 3rem;
    font-size: 2rem;
    padding-top: 1rem;
    text-transform: uppercase;
}